

/*-----------------[初始化]--------------*/
body{color: #333;font-size: 12px;font-family:"微软雅黑","Microsoft Yahei";min-width: 1000px;}
a{color:#333;}
a:hover{color: #e21818;}
img,.ani{
	transition: .3s;
	-ms-transition: .3s;
	-moz-transition: .3s;
	-webkit-transition: .3s;
	-o-transition: .3s;
}
input,textarea,select{font-size: 12px;color: #444;font-family:"微软雅黑","Microsoft Yahei";}
input[type='submit'],input[type='reset'],input[type='button'],select{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}


/*布局*/
.wp{width: 1200px;margin: 0 auto;}
.h50{height: 50px;clear: both;overflow: hidden;}
.h100{height: 100px;clear: both;overflow: hidden;}

.wrap{width: 100%;height: 100%;overflow: hidden; position:relative; margin:0 auto;}
.wp1{margin-left: 50%;}
.wp2{width: 1920px; margin-left: -960px;}


/*标题*/

/*按钮*/


/*颜色*/


/*******************************
	-------[=头部]-------
********************************/
#hd{
	background: #ccc;
	height: 40px;
	line-height: 40px;
}
.curposition{
	position: relative;
}
.curposition:hover{
	background: #cac;
}
.curposition .citys{
	position: absolute;
    width: 200px;
	height: 300px;
	top: 40px;
	left: 0;
	border: 1px solid #333;
	border-top: none;
	display: none;
}
.curposition:hover .citys{
	display: block;
}
#hd .nav ul li{
	float: left;
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
}
#hd .col_r ul .qd,.dl,.tm,.hy,.khfw,.sj {
	position: absolute;
	width: 200px;
	height: 100px;
	border: 1px solid #333;
	/* display: none; */
}
#hd .col_r ul :nth-child(3):hover .qd{
	display: block;
	}
#hd .col_r ul :nth-child(3):hover .qd{
	display: block;
	}
	#hd .col_r ul :nth-child(3):hover .qd{
		display: block;
		}
		#hd .col_r ul :nth-child(3):hover .qd{
			display: block;
			}
			#hd .col_r ul :nth-child(3):hover .qd{
				display: block;
				}
				#hd .col_r ul :nth-child(3):hover .qd{
					display: block;
					}
	#hd .col_r ul .qd{
     left: 550px;
	}
	#hd .col_r ul .dl{
		left: 50px;
	   }
	   #hd .col_r ul .tm{
		left: 150px;
	   }
	   #hd .col_r ul .hy{
		left: 250px;
	   }
	   #hd .col_r ul .khfw{
		left: 350px;
	   }
	   #hd .col_r ul .sj{
		left: 450px;
	   }
/*导航*/



/*banner*/
.slideBox{ 
	width:100%; 
	height:670px; 
	overflow:hidden; position:relative; }
.slideBox .hd{ height:10px; overflow:hidden; position:absolute; left:50%; bottom:50px; z-index:1;margin-left: -190px; }
.slideBox .hd ul{ overflow:hidden; zoom:1;   }
.slideBox .hd ul li{ 
	float:left; 
	margin-right:10px;  
	width:85px; 
	height:10px; 
	text-align:center; 
	background:#fff; 
	cursor:pointer;
}
.slideBox .hd ul li.on{ background:#0369b3; color:#fff; }
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd li{ height: 670px;zoom:1; vertical-align:middle; width: 100%;}
.slideBox .bd img{ width:100%; height:670px; display:block;  }

/*底部*/
